.bg-color{
    background-color: #fe6501 !important;
    border-color: #fe6501 !important;
}
.bg-color:hover{
    background-color: #fff !important;
    border-color: #fe6501 !important;
    color: #fe6501 !important;
}