/* *, *::before, *::after {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #333;
    color: #f2f2f2;
    min-height: 100%;
    min-width: 100%;
  } */
  
  /* .container {
    width: 90%;
    margin: auto;
  } */
  
  .cards-container {
    display: flex;
    border-radius: 6px;
    /* color: #333; */
    /* background: #eee; */
    padding: 1rem;
    /* box-shadow: 0 0 1rem #000 inset; */
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2); */
    
    overflow-x: auto;
    position: relative;
  }
    
    .cards-container::-webkit-scrollbar {
      display: block;
    }
  /* } */
  
  .card {
    flex: 1 0 250px;
    box-shadow: 0 1px 1rem -4px #000;
    /* background: #fff; */
    margin: 1rem;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }
    
    .image {
      width: 250px;
      height: 25px;
      object-fit: center;
    }
    
    img:hover {
      box-shadow: 0 4px 1rem -4px #000;
      transform: translateY(-3px);
    }
  /* } */
  
  .card-content {
    padding: 1rem;
  }
  
  @media screen and (max-width: 625px) {
    /* .container {
      width: 100%
    }
     */
    .cards-container {
      padding: .5rem;
    }
    
    .card {
      margin: .5rem;
    }
  }